@*@model Tuple<List<Product>, List<TypeProduct>, List<Brand>>*@
@model List<ViewModel>
@{
    ViewData["Title"] = "ListProduct";
}
 <!-- ********************** --> 
  <!--     I N T R O          -->
  <!-- ********************** --> 

  <div id="intro">
    <div id="intro_wrap">
      <div class="container_12">
        <div id="breadcrumbs" class="grid_12">
          <a asp-action="Index">Home</a>
          &gt;
          <a asp-action="ListProduct">Electronics</a>
        </div>
        <h1>Electronics</h1>
      </div>
    </div>
  </div>
  <!-- end of intro -->

  
  <!-- ********************** --> 
  <!--      C O N T E N T     -->
  <!-- ********************** --> 
  <div id="content" class="container_12">

    
    <div id="category" class="grid_9">
      
      <div id="listing_options">
        <div id="listing_sort" class="s_switcher">
          <span class="s_selected">Default</span>
          <ul class="s_options" style="display: none;">
            <li><a href="~/">Name A - Z</a></li>
            <li><a href="~/">Name Z - A</a></li>
            <li><a href="~/">Price Low &gt; High</a></li>
            <li><a href="~/">Price High &gt; Low</a></li>
            <li><a href="~/">Rating Highest</a></li>
            <li><a href="~/">Rating Lowest</a></li>
            <li><a href="~/">Model A - Z</a></li>
            <li><a href="~/">Model Z - A</a></li>
          </ul>
        </div>
        <div id="view_mode" class="s_nav">
          <ul class="clearfix">
            <li id="view_list" class="s_selected"><a href="~/listing_1.html"><span class="s_icon"></span>List</a></li>
          </ul>
        </div>
      </div>

      <div class="clear"></div>
      
      <div class="s_listing s_list_view clearfix">
          @foreach (var item in Model)
            {
                 <div class="s_item clearfix">
                  <div class="grid_3 alpha"> <a class="s_thumb" asp-action="ProductSingle" asp-route-id="@item.Id"><img src="~/images/dummy/@(item.Image)" title="@item.Title" /></a> </div>
                  <div class="grid_6 omega">
                    <h3><a asp-action="ProductSingle" asp-route-id="@item.Id">@item.Title</a></h3>
                    <p class="s_model"></p>
                    <p class="s_price">@item.Price ₽</p>
                    @if (item.Description.Length <= 250)
                        {
                            <p class="s_description">@item.Description</p>
                        }
                        else
                        {
                            <p class="s_description">@(item.Description.Substring(0, 250))...</p>
                        }
                        <a class="s_button_add_to_cart" href="~/product.html"><span class="s_icon_16"><span class="s_icon"></span>Add to Cart</span></a>
                  </div>
                </div>

                <div class="clear"></div>
           }
       


      </div>
      
      <div class="pagination">
        <div class="results">Showing 1 to 6 of 6 (1 Pages)</div>
      </div>
      
    </div>
    
    <div id="right_col" class="grid_3">
      <div id="cart_side" class="s_box_1 s_cart_holder">
        <h2 class="s_secondary_color">Shopping Cart</h2>
        <div id="cart_side_contents">
          <p class="s_mb_0">0 items</p>
        </div>
      </div>
      
      <div id="categories_module" class="s_box">
        <h2>Categories</h2>
        <div class="s_list_1">
          <ul>
          	<li>
            	<a href="~/listing_1.html"><b>Electronics</b></a>
            	<ul>
                            @foreach (var item in Model)
                {
                <li><a href="~/listing_1.html">@item.Type</a></li>

                }
              </ul>
            </li>
          </ul>
      	</div>
			</div>
      
    	<div id="brands_module" class="s_box">
        <h2>Brands</h2>
        
        <select>
          <option> --- Please Select --- </option>
          @foreach(var item in Model){
          <option>@item.Brand</option>
          }
        </select>

      </div>
    
      <div id="information_module" class="s_box">
        <h2>Информация</h2>
        <ul class="s_list_1">
          <li><a asp-action="About">О нас</a></li>
          <li><a asp-action="About">Политика конфиденциальности</a></li>
          <li><a asp-action="About">Пользовательское соглашение</a></li>
          <li><a asp-action="Contact">Контакты</a></li>
          <li><a asp-action="SiteMap">Карта сайта</a></li>
        </ul>
      </div>

    </div>
    
    
  </div>
  <!-- end of content -->

