@model ProductForSingle

@{
    ViewData["Title"] = "ProductSingle";
}


  <div id="content" class="product_view container_12">

    <div id="product" class="grid_12">
      <div id="product_images" class="grid_4 alpha ">
          <div class="clearfix">
      	<a id="product_image_preview"  class="imageSingle" rel="prettyPhoto[gallery]" href="~/images/dummy/@Model.Image"><img class="imageSingle" width="290px" id="image" src="~/images/dummy/@Model.Image" title="@Model.Title"  /></a>
      </div>
      </div>
      <div id="product_info" class="grid_4">
        <p class="s_price"><span class="s_price">@Model.Price ₽</span></p>
        <dl class="clearfix">
          <dt>Производитель</dt>
          <dd>@Model.Brand</dd>
          <dt>Название</dt>
          <dd>@Model.Title</dd>
          <dt>Рейтинг</dt>
          <dd>
            <p ><span  style="width: 100%;" >@Model.Rate / 5</span></p>
          </dd>

        </dl>
      	<p class="s_short_desc">@if (Model.Description.Length <= 150)
                        {
                            <p class="s_description">@Model.Description</p>
                        }
                        else
                        {
                            <p class="s_description">@(Model.Description.Substring(0, 150))...</p>
                        }   
        </p>             
        <div id="product_share" class="clearfix">
          <!-- AddThis Button BEGIN -->
          <div class="addthis_toolbox addthis_default_style ">
          <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
          <a class="addthis_button_tweet"></a>
          <a class="addthis_counter addthis_pill_style"></a>
          </div>
          <script type="text/javascript" src="~/http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4de0eff004042e7a"></script>
          <!-- AddThis Button END -->
        </div>
      </div>
      <div class="grid_4 omega">
      	<div class="suffix_2 left s_999">
          <p class="s_f_11"><strong>Бесплатная доставка</strong> при заказе от 10.000 рублей.</p>
        </div>
        <div id="product_options">
          <h3>Available Options</h3>
          <label for="option_Memory">Memory</label>
          <select id="option_Memory">
          </select>
          <span class="clear"></span>

        </div>
        <div id="product_buy" class="clearfix">
          <label for="product_buy_quantity">Qty:</label>
          <input id="product_buy_quantity" type="text" size="2" />
          <a id="add_to_cart" class="s_main_color_bgr"><span class="s_text"><span class="s_icon"></span> Add to Cart</span></a>
        </div>
      </div>
      <div class="clear"></div>
      <div class="s_tabs grid_12 alpha omega">
        <ul class="s_tabs_nav clearfix">
          <li><a href="#product_description">Описание</a></li>
          <li><a href="#product_char">Харктеристики </a></li>
          <li><a href="#product_reviews">Отзывы</a></li>
          
        </ul>
        <div class="s_tab_box">
        
          <div id="product_description">
            <div class="cpt_product_description ">
              <h1>Описание</h1>
              <br />
              @Model.Description<br />
              <br/>
              </div>
               </div>
              <div id="product_char">
              <h1>Характеристики </h1>
              <br/>
              <table cellspacing="8" >

              @foreach (var item in Model.Character)
                        {
                          
                       <tr>
                        <th align="left">@item.Name</th><th align="center"  >@item.Description</th>
                       </tr>
                        }
               </table>
              </div>
              <br/>
              <div id="product_reviews" class="s_listing">
          
              <div class="product_reviews">
              <h1>Отзывы </h1>
              <br />
           
            <!-- cpt_container_end -->
          
          
                   @foreach (var item in Model.UserAccounts)
                    {
                <p class="s_author"><strong>Пользователь: @item.Name</strong>
                  <small>@item.Date.ToShortDateString()</small></p>
                     <div>
                        <div class="s_rating_holder">
                        <p><strong>Преимущества: </strong> @item.Advantages</p>
                        <p><strong>Недостатки: </strong> @item.Disadvantages</p>
                        <p><strong>Комментарий: </strong> @item.Other</p>
                        <p class="s_rating s_rating_5"><span class="s_percent" style="width: @(Model.Rate/5*100)%;"></span></p>
                        <span class="s_average">Оценка: @item.Rate из  5 Звезд!</span>
                </div>
              </div>
              }
            </div>
            <div class="pagination"><div class="results">Showing 1 to 1 of 1 (1 Pages)</div></div>
            <form method="post" id="create" class="clearfix" asp-action="Feed">
            <h2 class="s_title_1"><span class="s_main_color">Оставьте</span> отзыв</h2>
            <div id="review_title" class="clear"></div>
            <div class="s_row_2 clearfix">
              <label><strong>Достоинства</strong></label>
              <textarea name="Advantages" style="width: 60%; resize: none;" required  rows="8" placeholder="Что вам понравилось"></textarea>
            </div>
            <div class="s_row_2 clearfix">
              <label><strong>Недостатки</strong></label>
              <textarea name="Disadvantages" style="width: 60%; resize: none;" required  rows="8" placeholder="Что вам не понравилось"></textarea>
            </div>
            <div class="s_row_2 clearfix">
              <label><strong>Комментарий</strong></label>
              <textarea name="Other" style="width: 60%; resize: none;"  rows="8" placeholder="Другие впечатления"></textarea>
              <p class="s_legend"><span style="color: #FF0000;">Note:</span> HTML is not translated!</p>
              <label><strong>Ваша оценка</strong></label>
              @*<span class="clear"></span> <span>Bad</span>&nbsp;*@
              @*<input type="radio" value="1"/>
              &nbsp;
              <input type="radio" value="2"/>
              &nbsp;
              <input type="radio" value="3"/>
              &nbsp;
              <input type="radio" value="4"/>
              &nbsp;
              <input type="radio" value="5"/>
              &nbsp; <span>Good</span>*@
              <select name="raten">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
            </div>
            
            <input type="submit" value="Отправить отзыв" class="s_button_1 s_main_color_bgr left"/>
            </form>
        </div>
      </div>
      
     
      
    </div>

  </div>

